In [29]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [30]:
df = pd.read_csv('train_indessa.csv')

In [31]:
df.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,...,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,mths_since_last_major_derog,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
count,5.324280e+05,532428.000000,532428.000000,532428.000000,532428.000000,5.324250e+05,532428.000000,532412.000000,532412.000000,259874.000000,...,532428.000000,532428.000000,532428.000000,532333.000000,132980.000000,532412.000000,490424.000000,4.904240e+05,4.904240e+05,532428.000000
mean,3.500547e+07,14757.595722,14744.271291,14704.926696,13.242969,7.502984e+04,18.138767,0.314448,0.694603,34.055735,...,0.394954,45.717832,4.859221,0.014299,44.121462,0.005015,213.562222,1.395541e+05,3.208057e+04,0.236327
std,2.412148e+07,8434.420080,8429.139277,8441.290381,4.379611,6.519985e+04,8.369074,0.860045,0.997025,21.884797,...,4.091546,409.647467,63.123361,0.133005,22.198410,0.079117,1958.571538,1.539149e+05,3.805304e+04,0.424826
min,7.047300e+04,500.000000,500.000000,0.000000,5.320000,1.200000e+03,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
25%,1.086688e+07,8000.000000,8000.000000,8000.000000,9.990000,4.500000e+04,11.930000,0.000000,0.000000,15.000000,...,0.000000,0.000000,0.000000,0.000000,27.000000,0.000000,0.000000,2.983975e+04,1.400000e+04,0.000000
50%,3.709590e+07,13000.000000,13000.000000,13000.000000,12.990000,6.500000e+04,17.650000,0.000000,0.000000,31.000000,...,0.000000,0.000000,0.000000,0.000000,44.000000,0.000000,0.000000,8.066950e+04,2.370000e+04,0.000000
75%,5.848920e+07,20000.000000,20000.000000,20000.000000,16.200000,9.000000e+04,23.950000,0.000000,1.000000,50.000000,...,0.000000,0.000000,0.000000,0.000000,61.000000,0.000000,0.000000,2.084792e+05,3.980000e+04,0.000000
max,7.354484e+07,35000.000000,35000.000000,35000.000000,28.990000,9.500000e+06,672.520000,30.000000,31.000000,180.000000,...,358.680000,33520.270000,7002.190000,16.000000,180.000000,14.000000,496651.000000,8.000078e+06,9.999999e+06,1.000000

In [32]:
#Define a generic function using Pandas replace function
def coding(col, codeDict):
  colCoded = pd.Series(col, copy=True)
  for key, value in codeDict.items():
    colCoded.replace(key, value, inplace=True)
  return colCoded

In [33]:
#Coding grade as Y=1, N=0:
print 'Before Coding:'
print pd.value_counts(df["grade"])
df["grade_Coded"] = coding(df["grade"], {'A':0,'B':1,'C':2,'D':3,'E':4,'F':5,'G':6})
print '\nAfter Coding:'
print pd.value_counts(df["grade_Coded"])

Before Coding:
B    152713
C    147499
A     89107
D     83567
E     42495
F     13826
G      3221
Name: grade, dtype: int64

After Coding:
1    152713
2    147499
0     89107
3     83567
4     42495
5     13826
6      3221
Name: grade_Coded, dtype: int64

In [34]:
#Coding verification_status as Y=1, N=0:
print 'Before Coding:'
print pd.value_counts(df["verification_status"])
df["verification_status_Coded"] = coding(df["verification_status"], {'Source Verified':1,'Verified':1,'Not Verified':0})
print '\nAfter Coding:'
print pd.value_counts(df["verification_status_Coded"])

Before Coding:
Source Verified    197750
Verified           174702
Not Verified       159976
Name: verification_status, dtype: int64

After Coding:
1    372452
0    159976
Name: verification_status_Coded, dtype: int64

In [48]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
# load data
#url = "https://archive.ics.uci.edu/ml/machine-learning-databases/pima-indians-diabetes/pima-indians-diabetes.data"
#names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
#dataframe = pandas.read_csv(url, names=names)
#array = df.values
X = df[['grade_Coded','verification_status_Coded']]
Y = df['loan_status']
# feature extraction
test = SelectKBest(score_func=chi2, k='all')
fit = test.fit(X, Y)
# summarize scores
np.set_printoptions(precision=3)
print(fit.scores_)
features = fit.transform(X)
# summarize selected features
print(features.size)

[ 1644.29    758.707]
1064856

In [36]:
df['term'] = df['term'].apply(lambda x: int(str(x)[:-7]))
df['term']

0         36
1         36
2         36
3         36
4         36
5         36
6         36
7         36
8         36
9         60
10        36
11        36
12        36
13        36
14        36
15        36
16        60
17        36
18        36
19        36
20        60
21        36
22        36
23        36
24        36
25        60
26        36
27        36
28        36
29        36
          ..
532398    36
532399    36
532400    36
532401    36
532402    36
532403    60
532404    36
532405    60
532406    36
532407    36
532408    36
532409    36
532410    36
532411    36
532412    36
532413    60
532414    36
532415    36
532416    36
532417    36
532418    36
532419    36
532420    36
532421    60
532422    36
532423    36
532424    60
532425    60
532426    60
532427    36
Name: term, dtype: int64

In [49]:
#Coding home_ownership as Y=1, N=0:
print 'Before Coding:'
print pd.value_counts(df["home_ownership"])
df["home_ownership_Coded"] = coding(df["home_ownership"], {'MORTGAGE':0,'OWN':1,'RENT':2, 'OTHER':3, 'NONE':4, 'ANY':5})
print '\nAfter Coding:'
print pd.value_counts(df["home_ownership_Coded"])

Before Coding:
MORTGAGE    265940
RENT        213668
OWN          52664
OTHER          117
NONE            36
ANY              3
Name: home_ownership, dtype: int64

After Coding:
0    265940
2    213668
1     52664
3       117
4        36
5         3
Name: home_ownership_Coded, dtype: int64

In [44]:
#Coding purpose as Y=1, N=0:
print 'Before Coding:'
print pd.value_counts(df["purpose"])
df["purpose_Coded"] = coding(df["purpose"], {'debt_consolidation':0,'credit_card':1,'home_improvement':2,
                                             'other':3,'major_purchase':4,'small_business':5,'car':6,
                                             'medical':7,'moving':8,'vacation':9,'house':10,'wedding':11,
                                             'renewable_energy':12,'educational':13})
print '\nAfter Coding:'
print pd.value_counts(df["purpose_Coded"])

Before Coding:
debt_consolidation    314989
credit_card           123670
home_improvement       31087
other                  25652
major_purchase         10284
small_business          6146
car                     5266
medical                 5117
moving                  3243
vacation                2812
house                   2170
wedding                 1401
renewable_energy         331
educational              260
Name: purpose, dtype: int64

After Coding:
0     314989
1     123670
2      31087
3      25652
4      10284
5       6146
6       5266
7       5117
8       3243
9       2812
10      2170
11      1401
12       331
13       260
Name: purpose_Coded, dtype: int64

In [45]:
#Coding application_type as Y=1, N=0:
print 'Before Coding:'
print pd.value_counts(df["application_type"])
df["application_type_Coded"] = coding(df["application_type"], {'INDIVIDUAL':0,'JOINT':1})
print '\nAfter Coding:'
print pd.value_counts(df["application_type_Coded"])

Before Coding:
INDIVIDUAL    532123
JOINT            305
Name: application_type, dtype: int64

After Coding:
0    532123
1       305
Name: application_type_Coded, dtype: int64

In [53]:
X = df[['grade_Coded','verification_status_Coded','home_ownership_Coded','purpose_Coded','application_type_Coded','term']]
Y = df['loan_status']
# feature extraction
test = SelectKBest(score_func=chi2, k='all')
fit = test.fit(X, Y)
# summarize scores
np.set_printoptions(precision=3)
print(fit.scores_)
features = fit.transform(X)
# summarize selected features
#print(features.size)

[  1.644e+03   7.587e+02   1.849e-01   8.469e+03   9.178e+01   2.556e+04]