In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
df = pd.read_csv('train_indessa.csv')

In [3]:
df.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,...,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,mths_since_last_major_derog,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
count,532428.000000,532428.000000,532428.000000,532428.000000,532428.000000,532425.000000,532428.000000,532412.000000,532412.000000,259874.000000,...,532428.000000,532428.000000,532428.000000,532333.000000,132980.000000,532412.000000,490424.000000,490424.000000,490424.000000,532428.000000
mean,35005472.347129,14757.595722,14744.271291,14704.926696,13.242969,75029.843289,18.138767,0.314448,0.694603,34.055735,...,0.394954,45.717832,4.859221,0.014299,44.121462,0.005015,213.562222,139554.110792,32080.572919,0.236327
std,24121476.515915,8434.420080,8429.139277,8441.290381,4.379611,65199.845014,8.369074,0.860045,0.997025,21.884797,...,4.091546,409.647467,63.123361,0.133005,22.198410,0.079117,1958.571538,153914.877437,38053.035312,0.424826
min,70473.000000,500.000000,500.000000,0.000000,5.320000,1200.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10866882.500000,8000.000000,8000.000000,8000.000000,9.990000,45000.000000,11.930000,0.000000,0.000000,15.000000,...,0.000000,0.000000,0.000000,0.000000,27.000000,0.000000,0.000000,29839.750000,14000.000000,0.000000
50%,37095895.000000,13000.000000,13000.000000,13000.000000,12.990000,65000.000000,17.650000,0.000000,0.000000,31.000000,...,0.000000,0.000000,0.000000,0.000000,44.000000,0.000000,0.000000,80669.500000,23700.000000,0.000000
75%,58489200.750000,20000.000000,20000.000000,20000.000000,16.200000,90000.000000,23.950000,0.000000,1.000000,50.000000,...,0.000000,0.000000,0.000000,0.000000,61.000000,0.000000,0.000000,208479.250000,39800.000000,0.000000
max,73544841.000000,35000.000000,35000.000000,35000.000000,28.990000,9500000.000000,672.520000,30.000000,31.000000,180.000000,...,358.680000,33520.270000,7002.190000,16.000000,180.000000,14.000000,496651.000000,8000078.000000,9999999.000000,1.000000

In [4]:
#Define a generic function using Pandas replace function
def coding(col, codeDict):
  colCoded = pd.Series(col, copy=True)
  for key, value in codeDict.items():
    colCoded.replace(key, value, inplace=True)
  return colCoded

In [5]:
#Coding LoanStatus as Y=1, N=0:
print 'Before Coding:'
print pd.value_counts(df["grade"])
df["grade_Coded"] = coding(df["grade"], {'A':0,'B':1,'C':2,'D':3,'E':4,'F':5,'G':6})
print '\nAfter Coding:'
print pd.value_counts(df["grade_Coded"])

Before Coding:
B    152713
C    147499
A     89107
D     83567
E     42495
F     13826
G      3221
Name: grade, dtype: int64

After Coding:
1    152713
2    147499
0     89107
3     83567
4     42495
5     13826
6      3221
Name: grade_Coded, dtype: int64

In [6]:
#Coding LoanStatus as Y=1, N=0:
print 'Before Coding:'
print pd.value_counts(df["verification_status"])
df["verification_status_Coded"] = coding(df["verification_status"], {'Source Verified':1,'Verified':1,'Not Verified':0})
print '\nAfter Coding:'
print pd.value_counts(df["verification_status_Coded"])

Before Coding:
Source Verified    197750
Verified           174702
Not Verified       159976
Name: verification_status, dtype: int64

After Coding:
1    372452
0    159976
Name: verification_status_Coded, dtype: int64

In [13]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
# load data
#url = "https://archive.ics.uci.edu/ml/machine-learning-databases/pima-indians-diabetes/pima-indians-diabetes.data"
#names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
#dataframe = pandas.read_csv(url, names=names)
#array = df.values
X = df[['grade_Coded','verification_status_Coded']]
Y = df['loan_status']
# feature extraction
test = SelectKBest(score_func=chi2, k='all')
fit = test.fit(X, Y)
# summarize scores
np.set_printoptions(precision=3)
print(fit.scores_)
features = fit.transform(X)
# summarize selected features
print(features.size)

[ 1644.29    758.707]
1064856